.profile-footer {
    text-align: center;
    padding: 40px 0; /* Increased padding for better spacing */
  }
  
  .footer-images-row {
    margin-bottom: 20px;
  }
  
  .footer-image-col {
    text-align: center;
    margin: 10px 0;
  }
  
  .footer-image {
    max-height: 50px; /* Ensure consistent image size */
    width: auto;
    opacity: 0.8; /* Adjust for better visibility */
    transition: opacity 0.3s;
  }
  
  .footer-image:hover {
  }
  
  .footer-title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .footer-contact {
    margin: 0;
    font-size: 16px;
  }
  
  .footer-contact-col {
    margin-top: 20px;
  }